@use "../abstracts/variables" as *;

//Testar variabler inom samma scss-fil och ifrån extern fil
$font-stack1: Helvetica, Arial, sans-serif;
$font-stack2: 'Courier New', Courier, monospace;


#headertext {
    font-family: $font-stack2;
    font-size: 1.6rem;
    line-height: 2.4rem;
    text-align: center;
    color: rgb(255, 255, 255);
    margin-left: auto;
    margin-right: auto; 
}

.bigheadline {
    font-family: $font-stack1;
    text-decoration: none;
    font-size: 14.2vw;
    line-height: 14vw;
    color: $bigheadline-color-dark;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    margin-top: -17.0vw;
    -webkit-text-stroke: 2px $bigheadline-stroke-dark;
    text-shadow: $bigheadline-shadow-light 1px 1px 20px;
    text-transform: uppercase;
    animation-name: sveriges;
    animation-duration: 3s;
    transition: ease-out;
}

.bigheadline2 {
    font-family: $font-stack1;
    font-size: 15.8vw;
    line-height: 7.5vw;
    color: $bigheadline-color-dark;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    margin-top: -7.5vw;
    -webkit-text-stroke: 2px $bigheadline-stroke-dark;
    text-shadow: $bigheadline-shadow-light 1px 1px 20px;
    text-transform: uppercase;
    animation-name: riksdag;
    animation-duration: 3s;
    transition: ease-out;
}


h2 {
    font-family: $font-stack1;
    font-size: 2.4rem;
    line-height: 3.6rem;
    text-align: left;
    color:  $h2-color-light;
    margin-bottom: 10px;
    margin-top: 20px;
}


.brodtext {
    font-family: $font-stack1;
    font-size: 1.6rem;
    line-height: 2.4rem;
    text-align: left;
    color: $brodtext-color-light;
    margin-bottom: 50px;
    max-width: 500px;
}

.brodtext2 {
    font-family: $font-stack1;
    font-size: 1.6rem;
    line-height: 2.4rem;
    text-align: left;
    color: $brodtext-color-light;
    margin-bottom: 5px;
    max-width: 500px;
    margin-left: 20px;
}

#footertext {
    font-family: $font-stack2;
    font-size: 1.6rem;
    line-height: 2.4rem;
    text-align: center;
    color: $footertext-color;
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;

    #name {
        color: $name-color;
    }
}




//Media queries för rubriken

@media only screen and (max-width: 840px) {
    .bigheadline {
        font-size: 14.0vw;
        line-height: 7vw;
        margin-top: -14vw;    
    }

    .bigheadline2 {
        font-size: 15.5vw;
        line-height: 7.2vw;
        margin-top: -5vw;
    }
}


@media only screen and (max-width: 640px) {
    .bigheadline {
        font-size: 13.0vw;
        line-height: 7vw;
        margin-top: -14vw;    
    }

    .bigheadline2 {
        font-size: 14.5vw;
        line-height: 7vw;
        margin-top: -8vw;
    }
}


@media only screen and (max-width: 540px) {
    .bigheadline {
        font-size: 12.8vw;
        line-height: 7vw;
        margin-top: -15vw;    
    }

    .bigheadline2 {
        font-size: 14.2vw;
        line-height: 7vw;
        margin-top: -7vw;
    }
}


@media only screen and (max-width: 470px) {
    .bigheadline {
        font-size: 14vw;
        line-height: 7vw;
        margin-top: -16vw;    
    }

    .bigheadline2 {
        font-size: 15.6vw;
        line-height: 6vw;
        margin-top: -8vw;
    }
}


@media only screen and (max-width: 420px) {
    .bigheadline {
        font-size: 14.5vw;
        line-height: 7vw;
        margin-top: -17vw;    
    }

    .bigheadline2 {
        font-size: 16vw;
        line-height: 5vw;
        margin-top: -8vw;
    }
}


@media only screen and (min-width: 1235px) {
    .bigheadline {
        font-size: 17.5rem;
        line-height: 7rem;
        margin-top: -150px;
    }

    .bigheadline2 {
        font-size: 19.5rem;
        line-height: 9.2rem;
        margin-top: -40px;
    }
}

