@use "../abstracts/variables" as *;

//Testar variabler inom samma scss-fil och ifrån extern fil
$font-stack1: Helvetica, Arial, sans-serif;
$font-stack2: 'Courier New', Courier, monospace;



.ledamotDetalj {
    display: flex;
    flex-direction: column;
}


.ledamotInfo {
    display: none;
    flex-direction: column;
}

.brod {
    margin-left: 50px;
    margin-right: 50px;
}

.visaInfo {
    margin-bottom: 100px;
}

#visaInfo {
    font-family: $font-stack1;
    font-size: 1.6rem;
    line-height: 2.4rem;
    text-align: left;
    color: $brodtext-color-light;
    margin-bottom: 50px;
    max-width: 500px;
}



@media only screen and (max-width: 540px) {
    .brod {
        margin-left: 10px;
        margin-right: 10px;
    }

}