#formsfilter {
    display: flex;
    flex-direction: column;
    margin-left: 0px;
    margin-right: 0px;
}

.partifilter {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.4rem;
    line-height: 3.6rem;
}

#partifilter {
    margin-bottom: 50px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.6rem;
    line-height: 2.4rem;
    padding: 5px;
}

.valkretsfilter {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.4rem;
    line-height: 3.6rem;
}

#valkretsfilter {
    margin-bottom: 50px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.6rem;
    line-height: 2.4rem;
    padding: 5px;
}

.visaAntal {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.4rem;
    line-height: 3.6rem;
}

#visaAntal {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.6rem;
    line-height: 2.4rem;
    padding: 5px;
}

#antaloutput {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.4rem;
    line-height: 3.6rem;
    margin-bottom: 50px;
    color: rgb(22, 91, 251);
}

#antalTraffar {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.4rem;
    line-height: 3.6rem;
    margin-bottom: 50px;
}

#antalSomMatchar {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.4rem;
    line-height: 3.6rem;
    margin-bottom: 200px;
}

#antalLedamoter {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.4rem;
    line-height: 3.6rem;
    color: rgb(22, 91, 251);
}

.resultat {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.4rem;
    line-height: 3.6rem;
    margin-bottom: 50px;
}




.pagination {
    visibility: hidden;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.6rem;
    line-height: 2.4rem;
    padding: 5px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}

.pagination2 {
    visibility: hidden;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.6rem;
    line-height: 2.4rem;
    padding: 5px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}

.prevPage {
    background-color:rgb(22, 91, 251);
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
    margin-right: 10px;
}

.prevPage:hover {
    background-color: blue;
    cursor: pointer;
}

.prevPage:disabled {
    background-color: lightskyblue;
}

.pageInfo {
    color: rgb(22, 91, 251);
}

.nextPage {
    background-color: rgb(22, 91, 251);
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
    margin-left: 10px;
}

.nextPage:hover {
    background-color: blue;
    cursor: pointer;
}

.nextPage:disabled {
    background-color: lightskyblue;
}

.search {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.4rem;
    line-height: 3.6rem;
}

#search {
    margin-bottom: 50px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.6rem;
    line-height: 2.4rem;
    padding: 5px;
}

.visaInfo {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.4rem;
    line-height: 3.6rem;
}


#visaInfo {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.4rem !important; 
    line-height: 3.6rem;
}

#visaInfoKnapp {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.6rem;
    line-height: 2.4rem;
    background-color: rgb(22, 91, 251);
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
}

#visaInfoKnapp:hover {
    background-color: blue;
    cursor: pointer;
}