//Lägger alla mina keyframes till animeringarna i denna fil 



//Ordet "Sveriges" kommer in från vänster när sidan laddas
@keyframes sveriges {
    0% {
        transform: translate(-200vw, 0);
    }

    100% {
        transform: translate(0, 0);    
    }
}


//Ordet "Riksdag" kommer in från höger när sidan laddas
@keyframes riksdag {
    0% {
        transform: translate(200vw, 0);
    }

    100% {
        transform: translate(0, 0);
    }
}



