
//Text color-variables
$bigheadline-color-light: rgba(255, 255, 255, 0.9);
$bigheadline-shadow-light: rgb(255, 102, 245);
$bigheadline-stroke-light: rgb(255, 255, 255);
$bigheadline-color-dark: rgb(57, 7, 63);
$bigheadline-shadow-dark: rgb(255, 102, 245);
$bigheadline-stroke-dark: rgb(57, 7, 63);

$link-color: rgb(255, 255, 255);
$linkborder-color: rgb(255, 255, 255);

$headertext-color: rgb(255, 255, 255);

$h2-color-light: rgb(57, 7, 63);
$brodtext-color-light: rgb(0, 0, 0, 0.8);
$h2-color-dark: rgb(255, 102, 245);
$brodtext-color-dark: rgb(255, 255, 255);

$footertext-color: rgb(255, 255, 255);
$name-color: rgb(94, 252, 247);

//Background color-variables
$bodybg-color-light: rgb(217, 102, 255);
$bodybg-color-dark: rgb(84, 12, 92);
$mainbg-color-light: rgb(255, 255, 255);
$mainbg-color-dark: rgb(34, 4, 37);

$buttonfromright-bordercolor-light: rgb(34, 4, 37);
$buttonfromright-bordercolor-dark: rgb(255, 255, 255);


